<div class="card border-success mb-3" style="max-width: 18rem; mr-3">
<p><%= params[:question] %></p>
<p class="card-footer bg-transparent border-success">-- You</p>
</div>
<div class="card border-success mb-3" style="max-width: 18rem;">
 <p><%= @response %></p>
 <p class="card-footer bg-transparent border-success">-- Your coach</p>
</div>
